@font-face {
    font-family: 'MyriadPro';
    src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot');
    src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
    url('assets/fonts/MyriadPro/MyriadPro-Regular.ttf')  format('truetype'),
    url('assets/fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #ffffff;
    width: 75%;
    font-family: MyriadPro, sans-serif;
    margin: 0 auto;
    padding: 0 0 0 0;
}
header {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
header h1 {
    width: 80%;
}
img {
    margin: 0 10px;
}
main {
    display: flex;
    flex-direction: row;
}
.high-list {
    background-color: #e83740 !important;
}
.dev-tools-container, .spread {
    margin: 30px 0 0 0;
}
.dev-tools-container {
    width: 20%;
}
.spread {
    width: 3%;
}
.tools button, .color button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: MyriadPro, sans-serif;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 0 0px 2px 15px;
}
button {
    background-color: #3b6b7a;
}
.redactor-items {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.tools, .color {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    height: 230px;
    width: 246px;
}
.btn-tool {
    border: gray 2px solid;
    width: 120px;
    text-align: center;
    border-radius: 30px;
    padding: 4px;
}
.current-color {
    margin-top: 10px;
}
.gray-color {
    margin-bottom: 10px;
}
.color {
    margin: 90px 0 0 0;
}
.prev-container {
    background-color: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 4px 10px 0 0;
}
.current-container {
    background-color: #1c1b1b;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 4px 10px 0 0;
}
.red-container, .blue-container, .orange-container, .gray-container {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 4px 10px 0 0;
}
.blue-container {
    background-color: #4286f4;
}
.red-container {
    background-color: #e83740;
}
.orange-container {
    background-color: #ed9a42;
}
.gray-container {
    background-color: #a8a29c;
}
.canvas {
    height: 728px;
    width: 734px;
}
.line-0, .line-1, .line-2 {
    display: flex;
    flex-direction: row;
}
.item-00, .item-01, .item-02,
.item-10, .item-11, .item-12,
.item-20, .item-21, .item-22 {
    margin: 10px;
    background-color: #cacece;
    height: 236px;
    width: 70%;
}
.item-01 {
    background-color: #3b6b7a;
}
.item-02 {
    background-color: #7a2654;
}
.item-10 {
    background-color: #343e7a;
}
.item-12 {
    background-color: #e83740;
}
.item-20 {
    background-color: #4286f4;
}
.item-21 {
    background-color: #097a10;
}
button:hover {
    cursor: pointer;
}
.item:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.btn-tool:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.circle {
    border-radius: 50%;
}
.square {
    border-radius: 10%;
}
input {
    margin: 10px 15px;
}
